<div class="content__search" data-ng-controller="SearchCtrl">
    <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Search IKEA products" data-ng-keyup="validate()" data-ng-model="searchInput">
        </div>
        <button type="submit" class="btn btn-default" data-ng-click="search()" data-ng-disable="searchInput === ''">
            <i class="glyphicon glyphicon-search"></i>
            Search
        </button>
    </form>
</div>

<section class="results">
    <div class="panel panel-default">
        <div class="panel-body">
            <ul class="results__list">
                <li class="results--item">
                    Test
                </li>
                <li class="results--item">
                    Test
                </li>
                <li class="results--item">
                    Test
                </li>
                <li class="results--item">
                    Test
                </li>
            </ul>
        </div>
    </div>
</section>