@import '../bower_components/bootstrap/less/bootstrap.less';

/*
* Change look and feel of app.
*/
@bright: #f5f5f5;
@blue: #2196F3;
@light: #FAFAFF;
@dark: black;
@icon-font-path: 'artifacts/';


/**
* Overwrites
*/
.navbar-form {
  border-top:0px;
  box-shadow: none;
  -webkit-box-shadow: none;
}

/**
* Mixins
*/
.transition {
  transition: all .2s ease-in-out;
}

.blueBackground {
  background: rgba(33,150,243,1);
  background: -moz-linear-gradient(left, rgba(33,150,243,1) 50%, rgba(33,150,243,1) 66%, rgba(33,150,243,0.93) 81%, rgba(33,150,243,0.85) 100%);
  background: -webkit-gradient(left top, right top, color-stop(50%, rgba(33,150,243,1)), color-stop(66%, rgba(33,150,243,1)), color-stop(81%, rgba(33,150,243,0.93)), color-stop(100%, rgba(33,150,243,0.85)));
  background: -webkit-linear-gradient(left, rgba(33,150,243,1) 50%, rgba(33,150,243,1) 66%, rgba(33,150,243,0.93) 81%, rgba(33,150,243,0.85) 100%);
  background: -o-linear-gradient(left, rgba(33,150,243,1) 50%, rgba(33,150,243,1) 66%, rgba(33,150,243,0.93) 81%, rgba(33,150,243,0.85) 100%);
  background: -ms-linear-gradient(left, rgba(33,150,243,1) 50%, rgba(33,150,243,1) 66%, rgba(33,150,243,0.93) 81%, rgba(33,150,243,0.85) 100%);
  background: linear-gradient(to right, rgba(33,150,243,1) 50%, rgba(33,150,243,1) 66%, rgba(33,150,243,0.93) 81%, rgba(33,150,243,0.85) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2196f3', endColorstr='#2196f3', GradientType=1 );
}

noscript {
  div {
    background: red;
    padding: 10px;
    margin: 10px;
  }
  h1 {
    font-weight: normal;
  }
}

body {
  background-color: @bright;
  
  .wrap {
    width: 100%;
    padding: 0 0 60px;
    position: relative;
    
    /* mobile */
    @media only screen and (max-height: 500px) {
      margin-top: 0px;
    }
    /* desktop */
    @media only screen and (min-height: 700px) {
      margin-top: 200px;
    }
    .transition;
    &.wrap--search-mode {
      margin-top: 0px;
      top: 0px;
      .content .content__search {
        padding: 0px;
        span {
          color: @bright;
          margin-left: 5px;
        }
      }
      .footer {
        .transition;
        position: absolute;
        bottom: 0;
        padding: 0px 20px;
      }
      .content .results {
        display: block;
        .results-panel p {
          margin: 15px;
        }
      }
    }
    .header {
      background-color: @bright;
      padding: 20px;
      h1 {
        margin: 0px;
        padding: 0px;
        span.header__title--title {
          font-weight: bold;
          font-style: italic;
        }
        span.header__title--slogan {
          margin-top: 5px;
          display: block;
          font-size: 45%;
          font-weight: normal;
        }
      }
    }

    .content {
      .content__search {
        .blueBackground;
        clear: both;
        padding: 20px 0;
        overflow: auto;
        form {
          position: relative;
          .menu {
            position: absolute;
            right: 20px;
            top: 20px;
          }
        }
      }
      .loader {
        height:0px;
        background: @dark;
      }
      .results {
        clear: both;
        display: none;
        .results-panel {
          overflow: auto;
        }
        ul.results__list {
          padding: 0px;
          .tile {
            list-style-type: none;
            width: 250px;
            height: 380px;
            background-color: @light;
            float: left;
            margin: 15px;
            padding: 10px;
            &:hover {
              border-bottom: 3px solid @blue;
            }
            .results--row {
              margin: 5px 0;
              .info-price {
                font-size: 110%;
                padding-left: 10px;
                span {
                  font-size: 80%
                }
                p {
                  margin: 0px;
                }
              }
              &.info-id p {
                font-size: 80%;
                margin-top: 0px;
              }
              &.info-title p {
                font-weight: bold;
                font-style: italic;
                margin-bottom: 0px;
              }
              .info-img {
                width: 100px;
              }
            }
            .row-1 {
              div.info-price, img {
                display: inline-block;
              }
            }
            @media only screen and (max-width: 480px) {
              display: block;
              float: none;
            }
          }
        }
        
      }
    }

    .footer {
      bottom: 0;
      height: 60px;
      left: 0;
      position: absolute;
      width: 100%;
      box-sizing: border-box;
      padding: 20px;
      background-color: @bright;
      p {
        line-height: 2;
      }
    }
  }
}